{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="post-header">
        <h1 class="article-title">About – DearDiary</h1>
        <small>Your private or public journaling space</small>
    </div>
    <p>
        <strong>DearDiary</strong> is your very own safe space to journal or make diary entries.
        You have the choice to keep it <em>private</em> or <em>public</em> for others to view.
        Write to your heart's content!
    </p>
</div>
{% endblock %}



